@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media all and (min-width: 1280px) {
  body {
    background-color: greenyellow;
  }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  body {
    background-color: red;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: blue;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  body {
    background-color: green;
  }
}

@media all and (max-width: 480px) {
  body {
    background-color: yellow;
  }
}

body {
  width: 100%;
  background-color: black;
}
