@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.menu {
  display: none;
  
}

body{
  width: 100%;
  background-color: #000 !important;
}

header{
  width: 100%;
  margin-inline: auto;
  background-color: purple !important;
}

.title{
  font-family: 'Poppins', sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.navbar {
  
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 15px;
  /* width: min(90%, 1000px); */
  /* margin-inline: auto; */
}

.nav-list {
  list-style-type: none;
}

.nav-list li {
  display: inline-block;
  line-height: 50px;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  
}

.navbar a:hover {
  color: bisque;
}

.logo {
  height: 40px;
  /* filter: invert(100%); */
}

.menu-line {
  background-color: white;
  width: 25px;
  height: 4px;
  margin-bottom: 4px;
  border-radius: 8px;
}

main{
    color: white;
    background-color: black;
    width: min(90%, 1000px);
    margin-inline: auto;
    padding: 2em;
}



section.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: px;
  grid-row-gap: 1.5em;
  padding: 2em;
  padding-top: 3em;
  }
section .post{
    color: white;
    padding: 1em;
    max-height: 300px;
    height: auto;
    margin: 10px auto;
    border: 1px solid purple;
    width: 100%;
}

section.home h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.3em;

}

section.home p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 0.9em;
    /* padding: 1em; */
}

section .published{
  font-family: 'Mozilla', sans-serif !important;
  font-weight: 300 !important;
  color: rgba(128, 0, 128, 0.79) !important;
  font-size: 14px !important;
  margin-bottom: 0.5em;
}
.post a{
  color: purple;
  text-decoration: none;
}

.post a:hover{
  text-decoration: underline;
  color: purple;
}



.pagination {
  display: inline-block;
  /* background-color: purple; */
  margin-inline: auto;
  text-align: center;
}

.pagination a {
  color: white;
  float: left;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid purple;
  font-family: 'Poppins', sans-serif;
}



section.post-detail, section.about, section.contact{
  border: 1px solid purple;
  padding: 2em;
}

section.post-detail img{
  width: 100%;
  height: auto;
}

section.post-detail h2, section.about h2, section.contact h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
}

section.post-detail #disqus_thread{
  background-color: white !important;
  margin-top: 2em;
  padding: 1em;
  font-family: 'Poppins', sans-serif;
}

section.post-detail .content{
  margin:2em 0;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  line-height: 1.5;
}
section.post-detail p:first-of-type{
  margin-top: .2em;
  font-family: 'Poppins', sans-serif;
}


section.about p, section.contact p{
  margin:1em 0;
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  line-height: 1.5;
}

section.contact label{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 0.5em;
}

section.contact input{
  width: 100%;
  height: 45px;
  border: 1px solid purple;
  background-color: #000;
  color: white;
  font-size: 1em;
  padding: 0.3em;
  margin: 1em 0;
}

input[type="submit"]:hover{
  background-color: purple;
}

textarea{
  width: 100%;
  height: 150px;
  border: 1px solid purple;
  background-color: #000;
  color: white;
  font-size: 1em;
  padding: 0.3em;
  margin: 1em 0;
}

section.about button{
  padding: 12px 25px;
  border: 2px solid purple;
  color: white;
  background-color: #000;
  font-family: 'Poppins', sans-serif;
  margin-top: 2em;
}



section.about button:hover{
  background-color: purple;
  color: white;
}

footer{
  position:relative;
  bottom: 0;
  background-color:purple;
  height: auto;
  width: 100%;
  text-align: center;
  padding: 0.5em;
}


footer ul li{
  display: inline-block;
  list-style-type: none;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

footer ul li a{
  text-decoration: none;
  color: white;
  

}

footer ul li i {
  font-size: 30px;
}

footer p{
  color: white;
  font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
}




/* MEDIA QUERIES */
/* 
@media all and (min-width: 1280px) {
    body {
      background-color: greenyellow;
    }
  }
  
  @media all and (min-width: 1024px) and (max-width: 1280px) {
    body {
      background-color: red;
    }
  }
  
  @media all and (min-width: 768px) and (max-width: 1024px) {
    body {
      background-color: blue;
    }
  }
  
  @media all and (min-width: 480px) and (max-width: 768px) {
    body {
      background-color: green;
    }
  }
   */
  @media all and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      position: relative;
    }
    .menu {
      display: block;
      position: absolute;
      top: 25px;
      right: 25px;
    }

    .nav-list li{
        display: block;
        line-height: 25px;
        padding: 10px;
        border-top: 1px solid black;
    }
    .nav-list{
        width: 85%;
        list-style-type: none;
        text-align: center;
        padding-top: 15px;
        display: none;
    }

    .logo{
        margin-left: 10px;
        margin-top: 10px;
    }

    .icon-container{
        width: 100%;

    }

    .active{
        display: block;
    }

    main {
      
      padding: 0;
  }

  .title{
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 450;
    margin-bottom: 0.5em;
  }
  }

