{% extends 'base.html' %} {% block title %}
<title>About</title>
{% endblock title %}

{% block nav %}

  <li><a href="{% url 'blog:home' %}">Home</a></li>
  <li><a class="active" href="{% url 'blog:about' %}">About</a></li>
  <li><a href="{% url 'blog:contact' %}">Contact</a></li>

{% endblock nav %}

{% block content %}
<section class="about">
  <h1>About Me</h1>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus fuga quod, odit ex, nobis aspernatur, optio
    sed similique maiores in nam enim nesciunt assumenda! Ipsam non dolores necessitatibus soluta ad.</p>
  <h2>Something else</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus similique rem possimus voluptas quas dolores eius
    nemo fuga, ipsam incidunt doloribus nam modi atque quasi quisquam aut tempore iste repellendus?
    Ullam dolores praesentium placeat enim tempora dignissimos neque laboriosam! Veritatis magni alias corporis officia
    perspiciatis debitis ratione, magnam quidem est ipsum quisquam veniam eaque quis natus nisi dolor suscipit nobis!
    A architecto blanditiis enim in nisi molestias officiis illum, eveniet illo provident! Animi nemo, consectetur autem
    accusantium harum ipsum libero recusandae excepturi mollitia labore quos nam quod molestiae atque praesentium.
    Qui reprehenderit, dignissimos facilis eum voluptatibus fugit, eius dolor consequuntur quaerat placeat, ex
    voluptatem? Delectus laborum, molestiae, aliquam accusantium enim in quod accusamus cum quia dolorum repellendus!
    Sed, vel odio.</p>
  <button>Get In Touch</button>
</section>


{% endblock content %}