{% extends 'base.html' %}

{% load static %}


{% block title %}
<title>Home</title>
{% endblock title %} {% block nav %}
<ul>
  <li><a class="active" href="{% url 'blog:home' %}">Home</a></li>
  <li><a href="{% url 'blog:about' %}">About</a></li>
  <li><a href="{% url 'blog:contact' %}">Contact</a></li>
</ul>
{% endblock nav %} {% block content %}
<section class="blog-detail">
    <div class="blog-detail-image">
        <img src="{{ post.image.url}}"  alt="{{ post.title }}" />
    </div>
    <div class="blog-detail-content">
        <h2>{{post.title}}</h2>
      <p>{{post.date_published|date:"M, d, Y"}} | Django</p>
      <p>{{post.content | safe}}</p>
    
    </div>
    <div class="share-like">
      
    </div>
</section>
{% endblock content %}