{% extends 'base.html' %} {% load static %} {% block title %}
<title>Home</title>
{% endblock title %} {% block nav %}
<ul>
  <li><a class="active" href="{% url 'blog:home' %}">Home</a></li>
  <li><a href="{% url 'blog:about' %}">About</a></li>
  <li><a href="{% url 'blog:contact' %}">Contact</a></li>
  {% if user.is_superuser %}
  <li><a href="{% url 'blog:create' %}">Post New</a></li>
  {% endif %}
  {% if user.is_authenticated %}
 
  <li><a href="{% url 'logout' %}">Log Out</a></li>
  <li><a href="{% url 'password_reset' %}">Password Reset</a></li>
  <li><a href="{% url 'password_change' %}">Password Change</a></li>
 
{% else %}
  
  <li><a href="{% url 'login' %}">Log In</a></li>
{% endif %}
 
</ul>
{% endblock nav %} {% block content %}
<section class="home">
  {% for post in post_list%}
  <div class="post">
    <div class="post-image">
      <img src="{{ post.image.url}}" alt="{{ post.title }}" />
    </div>

    <div class="post-intro">
      <h2><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
      <p>{{post.date_published|date:"M, d, Y"}} | Django</p>
      <p>
        {{post.content |truncatewords:30 | safe}}<a
          href="{{post.get_absolute_url}}"
          >read more.</a
        >
      </p>
    </div>
  </div>
  {% endfor %} {% if is_paginated %}
  <div class="post-pagination">

 <nav aria-label="Page navigation conatiner"></nav>
    <ul class="pagination pagination-lg justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link" >&laquo;</a></li>
      {% else %}



      <li class="disabled" class="page-item"><span class="page-link">&laquo;</span></li>
      {% endif %} {% for i in paginator.page_range %} {% if page_obj.number == i%}
      <li  aria-current="page" class="page-item active">
        <span class="page-link">{{ i }} <span class="sr-only"  >(current)</span></span>
      </li>
      {% else %}
      <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
      {% endif %} {% endfor %} {% if page_obj.has_next %}
      <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&raquo;</a></li>
      {% else %}
      <li class="disabled" class="page-item"><span class="page-link">&raquo;</span></li>
      {% endif %}
    </ul> 


    </ul>
    




  </div>
  {% endif %}
</section>
{% endblock content %}
