{% extends 'base.html' %} {% load static %} {% block title %}
<title>{{post.title}}</title>
{% endblock title %} {% block content %}
<section class="post-detail">
  <div class="back-arrow">
    <button>
      <a href="{% url 'blog:home' %}">
        <i class="fas fa-arrow-left"></i>
      </a>
    </button>
  </div>
  <div class="title">
    <h2 class="post-title">{{post.title}}</h2>
    <p class="author">
      <!-- <i class="fas fa-user"></i> : -->

      <span>by Dapo Adedire</span>
    </p>
    <p class="post-date">
      <!-- <i class="fa-solid fa-calendar-days"></i> : -->

      {{post.date_published|date:"d M Y"}}
    </p>

    <!-- <p class="share-article">
      <i class="fas fa-share-nodes"></i> 
      :<a
        href="https://twitter.com/intent/tweet?text={{post.title}}&url={{post.get_absolute_url}}"
        target="_blank"
      ><i class="fab fa-twitter"></i>
      </a>
      <a
        href="https://www.facebook.com/sharer/sharer.php?u={{post.get_absolute_url}}"
        target="_blank"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
      <a
        href="https://www.linkedin.com/shareArticle?mini=true&url={{post.get_absolute_url}}&title={{post.title}}&summary={{post.sub_title}}&source={{post.get_absolute_url}}"
        target="_blank"
      >
        <i class="fab fa-linkedin-in"></i>
      </a>
    </p> -->
  </div>

  <!-- AddToAny BEGIN -->
  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_linkedin"></a>
    <a class="a2a_button_pocket"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
  <!-- AddToAny END -->

  <div class="post-content">
    <p>{{post.content | safe}}</p>
  </div>

  <div id="disqus_thread"></div>
  <script>
    (function () {
      // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement("script");
      s.src = "https://dapoadedireblog-2.disqus.com/embed.js";
      s.setAttribute("data-timestamp", +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
</section>

{% endblock content %}
