{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Home</title>
{% endblock title %}


{% block nav %}

<li><a class="active" href="{% url 'blog:home' %}">Home</a></li>
<li><a href="{% url 'blog:about' %}">About</a></li>
<li><a href="{% url 'blog:contact' %}">Contact</a></li>
{% comment %} {% if user.is_superuser %}
<li><a href="{% url 'blog:create' %}">Post New</a></li>
{% endif %} {% endcomment %}

{% endblock nav %}





{% block content %}
<div class="title">
<h1>Welcome to the Blog</h1>
</div>
<section class="home">
  {% for post in post_list%}
  <div class="post">
    <div class="post-intro">
      
        <h2><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
   
         <p class="published">{{post.date_published|date:"M, d, Y"}}</p>
      
       <p> {{post.content |truncatewords:25 | safe}} <a href ="{{post.get_absolute_url}}">read more.</a></p>
      
     
       
          

      </p>
    </div>
  </div>
  {% endfor %}


{% if is_paginated %}

  <div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}">❮ &nbsp; Prev</a>
    {% endif %}
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next &nbsp; ❯</a>
    {% endif %}
  

</div>
</section>
{% endif %}

{% endblock content %}