{% extends 'base.html' %} {% load static %} {% block title %}
<title>Services</title>
{% endblock title %} {% block content %}
<section class="services">
    <div class="intro">
        <h3>
        Software Developer
        </h3>
        <p>
        I'm a software developer who loves to build things. I'm currently a student at the Obafemi Awolowo University, Nigeria. I'm passionate about building software that solves real-world problems.
        I can provide you with a wide range of services, from building a website to building a full-stack web application.
        </p>
        <p>
            Send me an email at 
            <a href="mailto:adedireadedapo19@gmail.com" target="_blank">adedireadedapo19@gmail.com</a>
            and let’s discuss how I can help!
        </p> 

<p>
    Main tech skills: Python · Django . Javascript · Git and open-source dev.
</p>
<div class="experience">
    <h3>Experience</h3>
    <p>
        I have experience building web applications with Python and Django. I have also built a few websites with HTML, CSS, and Javascript. I have also worked with Git and open-source development.
    </p>
</div>
        </div>
</section>

{% endblock content %}
