<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/blog.css' %}" />
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% block title %} {% endblock title %}

</head>

<body>
  <header>
    <nav class="navbar">
      <div class="icon-container">

        <a href="{% url 'blog:home' %}">

          <img class="logo" src="{% static 'images/logo.png' %}" alt="logo" />
        </a>

      </div>
      <ul class="nav-list" id="nav-list">
        {% block nav %}
        {% endblock nav %}
      </ul>
      <div class="menu" id="toggleButton">
        <div class="menu-line"></div>
        <div class="menu-line"></div>
        <div class="menu-line"></div>
      </div>

    </nav>

  </header>
  <main>

    {% block content %}

    {% endblock content %}


  </main>
  <footer class="sticky-footer">
    

     <div class="footer-container">
      <ul class="socials">
        <li>
          <a href="https://www.twitter.com/">
            <i class="fab fa-twitter-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.github.com/dapoadedire">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/dapoadedire">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
     </ul>

     <p> Designed by Dapo Adedire</p>
     </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script src="{% static 'js/script.js' %}"></script>
  <script>
    const toggleButton = document.getElementById('toggleButton');
    const navList = document.getElementById('nav-list');

    toggleButton.addEventListener('click', () => {
      navList.classList.toggle('active');
    });
  </script>
</body>

</html>